<br>
<div class="container">
    <h3>Gateway Details</h3>
    <br>
    <div>
        <table class="table">
            <tbody>
              <tr>
                
                <td scope="col">Serial lNumber:</td>
                <td class="nav-link">{{result.SerialNumber}}</td>
                
              </tr>
            </tbody>
            <tbody>
                <tr>
                
                    <td scope="col">Legible Name:</td>
                    <td class="nav-link">{{result.LegibleName}}</td>
                    
                  </tr>
              
            </tbody>
            <tbody>
                <tr>
                
                    <td scope="col">IPV4:</td>
                    <td class="nav-link">{{result.ipv4}}</td>
                    
                  </tr>
              
            </tbody>
            <br>

            <div class="form-group row">
              <button type="button" class="btn btn-primary" routerLink="/createDevice/{{result.id}}">Add Device</button>
            </div>
            
            
        </table>
    </div>

    <br>
    <h3>Devices Asigned</h3>
    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">UID</th>
            <th scope="col">Provider</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of resultDevices">
            
            <td>{{r.uid}}</td>
            <td>{{r.Provider}}</td>
                  
            <td>
                <button (click)="deleteDev(r.id)" type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          
        </tbody>
    </table>
    
    
</div>
